RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=joelarnaudcarreras@gmail.com
CONTACT_FROM_EMAIL=Joël Arnaud Portfolio <onboarding@resend.dev>
CONTACT_SUBJECT_PREFIX=[Portfolio]
CONTACT_RATE_LIMIT_WINDOW_MS=600000
CONTACT_RATE_LIMIT_MAX=5
CONTACT_MIN_SUBMIT_MS=3000
